body,
.container {
  min-height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  /*grid-template-columns: minmax(125px, 1fr) 5fr;*/
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  background-color: #1992d4;
  /* background-color: #00b294; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dash-logo,
.menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}

.dash-logo {
  font-size: 1.6rem;
  margin-top: 10px;
  gap: 10px;
}

.logo {
  width: 30px;
}

.menu-btn {
  font-size: 1.25rem;
  gap: 15px;
}

.menu-1,
.menu-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-content {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin-left: 40px;
}

.search-notifs {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #ffffff;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

#bar {
  width: 62%;
  height: 40%;
  border-radius: 100px;
  border: 0;
  background-color: #e2e8f0;
}

.photo-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.photo,
.photo-bigger {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.photo {
  height: 40px;
  width: 40px;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 20px;
}

.photo-bigger {
  height: auto;
  width: 75px;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}

.greeting-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greeting-text,
.name-username {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.greeting-text {
}

.name-username {
  font-size: 1.85rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.btn {
  background-color: #1992d4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 85px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.projects {
  height: 100%;
}

.project-headers {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.card {
  background-color: #ffffff;
  height: 225px;
  width: 340px;
  border-style: solid;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 40fr;
}

.yellow-stuff {
  background-color: #f0b429;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.announcements-trending {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.svg-icon {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(190deg)
    brightness(108%) contrast(100%);
}
