body,
.container {
  min-height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  /*grid-template-columns: minmax(125px, 1fr) 5fr;*/
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  background-color: #1992d4;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dash-logo,
.menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin-left: 15px;
  display: flex;
}

.dash-logo {
  font-size: 25px;
  margin-top: 10px;
  gap: 10px;
}

.logo {
  width: 30px;
}

.menu-btn {
  font-size: 20px;
  gap: 15px;
}

.menu-1,
.menu-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-content {
  background-color: white;
}

.svg-icon {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(190deg)
    brightness(108%) contrast(100%);
}
